{% extends 'admin_base.html' %}

{%block main %}
<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <h3>
            Blog Meta Data &nbsp;
            <small><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></small>
        </h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>Blog Name:</dt>
            <dd>Oct Blog</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Subtitle:</dt>
            <dd>Oct Blog</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Description:</dt>
            <dd>Oct Blog</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Owner:</dt>
            <dd>Gevin</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Keywords:</dt>
            <dd>python, django, flask, docker, mongodb</dd>
        </dl>
    </div>
    <div class="row">
        <h3>
            About User &nbsp;
            <small><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></small>
        </h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>Username Name:</dt>
            <dd>Gevin</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Display Name:</dt>
            <dd>Gevin</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Biography:</dt>
            <dd>python developer</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Social Network:</dt>
            <dd>
                
                    <a href='#'><i class="fa fa-github fa-lg"></i></a>
                
                    <a href='#'><i class="fa fa-twitter fa-lg"></i></a>
                
                    <a href='#'><i class="fa fa-weibo fa-lg"></i></a>
                
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Homepage:</dt>
            <dd>
                <a href="#"><i class="fa fa-home fa-lg"></i></a> http://blog.igevin.info
            </dd>
        </dl>
    </div>
</div>
{% endblock %}