{% extends "admin_base.html" %}

{% block title %}
    Edit
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<!-- <form method="POST" action="" id='new-post'>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            
            <br><br><br><br>
            <div class="row">
                <button type="submit" class="btn btn-primary" name="publish" value="publish">submit</button>
                
            </div>
        
        </div>
    </div>
            
    
</form> -->
<div class="col-md-6 col-md-offset-1">
    <h3>Edit</h3>
    <hr>
    {% import "_form.html" as forms %}
    <form method="POST" action="">
        {{ forms.render(form) }}
        <button type="submit" class="btn btn-primary" name="user" value="user">Submit</button>
    </form>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    // using jQuery
    
    $('.tag').on('click', function(event){
        var tag = $(this).data('tag');
        // alert(category);
        var elem = document.getElementById("tags_str");
        if(elem.value==''){
            elem.value = tag;
        }else{
            // elem.value += ', ';
            // elem.value += tag;
            elem.value = [elem.value, tag].join(', ')
        }

        // $(this).remove();
        return false
    });

    $('.category-name').on('click', function(event){
        var category = $(this).data('category');
        // alert(category);
        var elem = document.getElementById("category");
        elem.value = category;

        return false
    });

</script>
{% endblock %}