{% extends 'admin_base.html' %}
{% block title %} Settings: Change Password {% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{{ url_for('accounts.settings' )}}">Profile</a></li>
          <li role="presentation" class="active"><a href="#" onclick="return false">Password</a></li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        {% import "_form.html" as forms %}
        <form method="POST" action="" id='password'>
        {{ forms.render(form) }}
            <button type="submit" class="btn btn-primary" name="update">Update</button>
        </form>
    </div>
    <div 
{% endblock %}