{% extends "admin_base.html" %}
{% block title %}Reset Password{% endblock %}
{% block main %}

<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        {% import "_form.html" as forms %}
        <form method="POST" action="" id='reset'>
        {{ forms.render(form) }}
            <button type="submit" class="btn btn-primary" name="reset">Reset Password</button>
        </form>
    </div>
    <div class="col-xs-6 col-sm-3"></div>
</div>
{% endblock %}