{% extends 'admin_base.html' %}
{% block title %} Edit User {% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h3>User Details</h3>
        <hr>
        {% import "_form.html" as forms %}
        <form method="POST" action="">
            {{ forms.render(form) }}
            {% if g.identity.allow_su %}
            <div class="checkbox">
                <label>
                  <input type="checkbox" name='is_superuser' {%if user.is_superuser %}checked{% endif %}> Is Superuser
                </label>
                <br>
                <label>
                  <input type="checkbox" name='is_email_confirmed' {%if user.is_email_confirmed %}checked{% endif %}> Is Email Confirmed
                </label>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary" name="user" value="user">Submit</button>
        </form>
    </div>
</div>
{% endblock %}